.name {
    font-size: 72px;
    font-weight: 300;
    font-family: "Pencerio-Hairline", serif;
}

.neucard__image {
    background-size: cover;
    background: url("https://avatars.githubusercontent.com/u/78042851?v=4") no-repeat center;
    height: 410px;
    width: 410px;
    border-radius: 25px 25px 5px 25px;
    border: 3px solid #000000;
    box-shadow: 6px 6px #000;
}

.rndmcodeguy__neu {
    color: white;
    background: #832EF9;
    box-shadow: 10px 10px 5px #000;
    margin-bottom: 10px;
}

.special {
    color: #832EF9;
    /*font-weight: 600;*/
    position: relative;
}

.special::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #832EF9;
    bottom: -5px;
    left: 0;
    border: 2px solid #832EF9;

    border-radius: 200px;

    transform: ScaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.special:hover::after {
    transform: ScaleX(1);
    transition: transform 0.5s ease-in-out;
    border-radius: 200px;
}


.greeting__wrapper {
    position: relative;
    padding-bottom: 25px;
}

.greeting__top {
    position: absolute;
    width: 200px;
    height: 10px;
    background: transparent;
    z-index: 2;
}

.greeting__bottom {
    position: absolute;
    width: 160px;
    height: 25px;
    background: #E4D7FF;
    z-index: 1;
    top: 5px;
    left: -5px;
}

.knowme__neu {
    background: #832EF9;
    color: white;
    padding: 10px 30px;
    border: 2px solid #832EF9;
    border-radius: 10px;
    box-shadow: 5px 5px #000;
    transition: 0.5s;
}

.knowme__neu:hover {
    background: white;
    color: #832EF9;
    padding: 10px 30px;
    border: 2px solid #832EF9;
    border-radius: 10px;
    box-shadow: 0px 0px #000;
    transition: 0.5s;
}

.resume__neu {
    background: white;
    color: black;
    padding: 10px 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px #000;
    transition: 0.5s;
}

/* on hover add a download icon to the right of the inner text*/
.resume__neu:hover {
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px #000;
    transition: 0.5s;
}

.social__container {
    /*background: #f37dcf;*/
    background: transparent;
    height: 40px;
    width: 40px;
    transition: 1s;
    text-decoration: #F43CB9;
}

.social__container span {
    width: 0;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social__container:hover {
    border-radius: 5px;
    background: #E4D7FF;
    width: 170px;
    transition: ease-in-out 0.5s;
}

.social__container:hover span {
    padding: 2px;
    width: 150px;
}


/* Media query for medium devices */
@media screen and (max-width: 768px) {
    .name {
        font-size: 64px;
    }
}

/* Media query for small devices */
@media screen and (max-width: 576px) {
    .name {
        font-size: 64px;
    }
}


@media screen and (max-width: 450px) {
    .neucard__image {
        background-size: contain;
        width: 205px;
        height: 205px;
    }
}
