.projects__header {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.projects__sub {
    font-size: 1.5rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 20px;
}

.project__image {
    background: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

.project__container {
    box-shadow: 4px 4px #E4D7FF;
}
